node_modules
node/logs/install.log
assets/less/cache
module.sig

.vscode
.vscode/
.vscode/*
.code-workspace

.idea/
.idea/*
*.iml

*.sublime-project
*.sublime-workspace

.project
.classpath
.settings/
.settings/*

nbproject/
nbproject/private/

*.swp
*.swo
*.swn
*.bak
*~

.#*

*.ijwb*
*.iws
*.ipr
out/

.DS_Store
.AppleDouble
.LSOverride

logs/
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

.env
.env.local
.env.*.local
.env.production
.env.test

tmp/
temp/
.cache/
dist/
build/
coverage/