<module>
	<rawname>smsconnector</rawname>
	<repo>unsupported</repo>
	<name>SMS Connector</name>
	<version>16.0.8</version>
	<category>Connectivity</category>
	<Publisher>Simon Telephonics LLC</Publisher>
	<info>http://wiki.freepbx.org/</info>
	<license>GPLv3+</license>
	<licenselink>https://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<updateurl>https://simontelephonics.github.io/smsconnector/module.json</updateurl>
	<menuitems>
		<smsconnector>SMS Connector</smsconnector>
	</menuitems>
	<depends>
		<version>16</version>
		<module>sms</module>
		<module>userman</module>
		<module>sipsettings</module>
	</depends>
	<supported>16.0</supported>
	<description>Implements a generic SMS connector</description>
	<hooks>  
		<sms namespace="FreePBX\modules" class="Sms">
			<method namespace="FreePBX\Modules" class="Smsconnector" callingMethod="loadAdaptor">smsAdaptor</method>
		</sms>
		<userman class="Userman" namespace="FreePBX\modules">
			<method callingMethod="myShowPage" class="Smsconnector" namespace="FreePBX\modules">usermanShowPage</method>
			<method callingMethod="delUser" class="Smsconnector" namespace="FreePBX\modules">usermanDelUser</method>
			<method callingMethod="addUser" class="Smsconnector" namespace="FreePBX\modules">usermanAddUser</method>
			<method callingMethod="updateUser" class="Smsconnector" namespace="FreePBX\modules">usermanUpdateUser</method>
		</userman>

	</hooks>
	<database>
		<table name="smsconnector_relations">
			<field name="id" type="integer" primaryKey="true" autoincrement="true"/>
			<field name="didid" type="integer" notnull="true"/>
			<field name="providerid" type="string" length="120" notnull="true"/>
			<key name="didid" type="unique">
				<column name="didid"/>
			</key>
		</table>
	</database>
	<changelog>
		*16.0.8* GA release. Added contributed provider connector Voxtelesys
		*16.0.7beta* Added multi-user selection in SMS Connector screen, improved UI
		*16.0.6beta* Consolidate webhook endpoints to single php file, add i18n
		*16.0.5beta* Add Commio/Thinq provider, small improvements
		*16.0.4beta* Numerous improvements
		*16.0.2beta* Fix #3 and add some verbiage
		*16.0.1beta* Add Twilio and fix manifest
		*16.0.0beta* Initial Release
	</changelog>
</module>
